#hardware {
	background-image: url('images/hardware_banner.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#software {
	background-image: url('images/software_banner.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#html {
	background-image: url('images/html_banner.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#css {
	background-image: url('images/css_banner.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#js {
	background-image: url('images/java_banner.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#app {
	background-image: url('images/app_banner.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

h3{
	font-size:75%;
}

#white {
	color: white;
	font-size: 75%;
}

ol {
	color:#132F80;
	font-size:75%;
}
